<!doctype html>
<html>
	<head>
		<title>CMT4 oefweek6</title>
		<link rel="stylesheet" type="text/css" href="/css/reset.css">
		<link rel="stylesheet" type="text/css" href="/css/styles.css">
		<link rel="icon" href="http://res.cloudinary.com/janrenders/image/upload/v1503526890/ico_bmc8jn.png">
		<link href="https://fonts.googleapis.com/css?family=Merriweather:400,700i" rel="stylesheet">
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
	</head>
	<body>
